* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

:focus {
  border: 2px solid rgb(255, 60, 0);
}

body {
  background: linear-gradient(to right, rgb(255, 198, 42), rgb(250, 80, 2));
}

input {
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(255, 60, 0);
  padding-left: 10px;
  position: relative;
  top: 17px;
}

.search-container {
  width: 400px;
  height: 400px;
  margin: 400px auto 0;
}

.search-container input,
.search-container .suggestions {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.3);
}

ul {
  padding: 0px;
  max-height: 300px;
  overflow: auto;
  list-style: none;
  cursor: pointer;
}

ul li {
  width: 100%;
  padding-left: 10px;
}

ul li:hover {
  background-color: rgba(255, 60, 0, 0.6);
}